<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-about">
                <div class="logo">
                    <div class="site-info">
                        <h3>Nagari Kajai</h3>
                        <p>Warisan Budaya di Kaki Gunung Talamau</p>
                    </div>
                </div>
                <p>Kajai adalah nagari yang kaya akan sejarah, adat, dan budaya. Dengan semangat gotong royong dan nilai-nilai kearifan lokal, masyarakat Kajai terus berupaya menjaga warisan leluhur dan menyesuaikannya dengan tantangan zaman demi kemajuan bersama.</p>
            </div>
            <div class="footer-location">
                <h4>Lokasi</h4>
                <p></p>
                <p></p>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"></circle></svg> Kecamatan Talamau, Kabupaten Pasaman Barat, Sumatra Barat, Indonesia</p>
            </div>
            <div class="footer-social">
                <h4>Sosial Media </h4>
                <a href="https://www.instagram.com/kknkajai_talamau2025?igsh=MTByemI5MGoydDRoNg==/" target="_blank" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" x2="17.5" y1="6.5" y2="6.5"></line></svg>
                    <span>KKN Reguler Universitas Andalas</span>
                </a>
                <a href="https://www.tiktok.com/@kkn.kajai.talamau?_t=8ykfgaC5lTs&_r=1" target="_blank" class="social-link">
    
    <img src="images/tiktok.png" alt="Logo TikTok" class="social-logo">
    
    <span>KKN Reguler Universitas Andalas</span>
</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 KKN Reguler UNAND Nagari Kajai. SIAP MENGABDI !!!</p>
        </div>
    </div>
</footer>