<section id="beranda" class="hero-section parallax">
    <div class="hero-content fade-in-on-scroll">
        <h1 class="hero-title">Nagari Kajai</h1>
        <p class="hero-subtitle">Warisan Budaya dan Sejarah di Kaki Gunung Talamau</p>
        <div class="hero-buttons">
            <a href="#sejarah" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll"><path d="M8 2h8a2 2 0 0 1 2 2v2H6V4a2 2 0 0 1 2-2Z"></path><path d="M6 8v16l2-2 2 2 2-2 2 2 2-2 2 2V8H6z"></path></svg>
                Jelajahi Sejarah
            </a>
            <a href="https://maps.app.goo.gl/hvC7rEtgdmr7cdPR6" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                Lokasi Nagari Kajai
            </a>
        </div>
    </div>
    <div class="scroll-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg>
    </div>
</section>