<section id="sejarah" class="bg-white">
    <div class="container fade-in-on-scroll">
        <div class="text-center">
            <h2 class="section-title">Asal Usul Nama "Kajai"</h2>
            <div class="divider"></div>
        </div>
        <div class="grid-2-cols">
            <div class="text-content">
                <p>Terletak di bawah kaki <strong>Gunung Talamau</strong> di ujung Sumatra Barat, tepatnya di Kabupaten Pasaman Barat, Kecamatan Talamau, terdapat salah satu Nagari tua yang menyimpan banyak sejarah dan kaya akan nilai adat istiadat.</p>
                <p>Nama <strong>"Kajai"</strong> berasal dari kisah nenek moyang yang melihat asap api di daerah Lubuak Sariak, tepatnya di wilayah Tinggam. Ketika terlihat asap tersebut, sekelompok orang dari Talu mengejarnya.</p>
                <div class="quote-box">
                    <p class="quote">Dari kata "kaja-kajai" yang berarti mengejar, akhirnya daerah ini dinamakan Kajai.</p>
                </div>
            </div>
            <div class="image-content">
                <img src="/images/nagari_kajai.jpeg" alt="Traditional Minangkabau architecture" class="responsive-image image-shadow">
            </div>
        </div>
    </div>
</section>