{{> navigation }}
<main>
    {{> hero }}
    {{> origin }}
    {{> timeline }}
    {{> governance }}
    {{> expansion }}
    {{> matrilineal }}
    {{> traditions }}
    {{> challenges }}
</main>
{{> footer }}